.sidebartop {
  background-color: white;
}

.schemawrapper {
  background-color: #f1f5f9;
}
.topsidebtn {
  background: #14b8a6;
  color: white;
}

.schemawrapperpanpinch {
  width: 75% !important;
  background: beige;
}
.schematransformcomp {
  width: 100% !important;
  background: beige;
}

.schemamainwrapper {
  width: 100% !important;
  background: beige;
}
