.editbtn {
  transition: 0.4s all ease;
  opacity: 0;
}

.accordianheader {
  &:hover .editbtn {
    opacity: 1;
  }
}
.editbtnovered {
  opacity: 1;
}

.columninput {
  border: 1px solid rgb(203 213 225 / 1);
}

.columnbottomwrapper {
  border-color: rgb(203 213 225 / 1);
}
.directionchange {
  direction: rtl;
}

.directionlefttoright {
  direction: ltr;
}

.popoverwrapper {
  opacity: 1;
  background: #18181bdd;
  right: -51%;
  z-index: 9;
  border-radius: 12px;
  padding: 7px;
  top: 8%;
}
